/* css for all files */
* {
	font-family: 'Raleway', sans-serif;
}

body {
	height: 100%;
	margin: 0px;
	background-color: rbg(234, 236, 240);
}
#nav_bar {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-flow: wrap;
    font-size: 17px;
    background-color: rgb(158, 192, 251);
}

#nav_bar > a {
	padding: 5px 50px 0px 50px;
	text-decoration: none;
	color: rgb(14, 16, 21);
	transition: background-color 0.3s ease;
	line-height: 3em;
}

#nav_bar > a:hover {
	background-color: rgba(43, 104, 209, 0.5);
}

/* css for login.html*/

.login_area {
	text-align: center;
}

#login {
	font-family: sans-serif;
}

/* css for jobs.html */

.job_box_area {
	text-align: center;
	margin: 0px 0px 0px 50px;
}

.job_box_area > input {
	text-align: center;
	width: 200px;
}

.job_buttons {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

#new_job_sub_box {
	display: none;
}

#job_description {
	width: 300px;
	height: 200px;
}

button {
	text-decoration: none;
	padding: 20px 40px;
	margin: 20px 10px;
	font-size: 1em;
} 


